* {
  font-family: 'Noto Sans TC', sans-serif;
}
/* ---------------------------member_navbar通用--------------------------- */
.member_navbar {
  width: 30%;
  height: 100vh;
  display: block;
  padding: 20px 0 0 0;
  /* position: absolute; */
}
.member_navbar a {
  padding-left: 0;
  color: #00273c;
}

.member_navbar a:hover {
  color: #559534;
}

.member_navbar .active {
  padding-left: 0;
  color: #99cb77;
}

.nav-link {
  padding-right: 0;
}

/* ---------------------------member_main通用--------------------------- */
.member_main {
  width: 70%;
  height: 100vh;
  /* display: flex; */
  padding: 20px 0 0 0;
}
.member_main h4 {
  color: #99cb77;
  padding-bottom: 45px;
}

/* ---------------------------aboutMe--------------------------- */
.edit-avatar {
  color: #00273c;
  font-weight: 600;
}
.edit-avatar:hover {
  color: #559534;
}
.mission p {
  color: #627a86;
}

/* ---------------------------order--------------------------- */
.right-nav {
  display: flex;
  /* padding-bottom: 20px; */
  border-bottom: 1px #dcd7cc solid;
}
.right-nav-item-l {
  padding: 0 15px 0 0;
  font-size: 18px;
  color: #00273c;
  margin-bottom: 0;
}
.right-nav-item-l:hover {
  color: #559534;
  margin-bottom: 0;
}
.right-nav-item {
  padding: 0 15px;
  font-size: 18px;
  color: #00273c;
  margin-bottom: 0;
}
.right-nav-item:hover {
  color: #559534;
  margin-bottom: 0;
}
.under-line {
  border-bottom: 6px #99cb77 solid;
  padding-bottom: 20px;
}
.order-info-s-part {
  border-top: 3px #627a86 solid;
  margin-top: 30px;
}
.order-part {
  padding-top: 30px;
}
.order-title {
  font-size: 18px;
  padding-right: 20px;
  font-weight: 600;
}
.odrder-code {
  font-size: 18px;
  color: #627a86;
}
.order-info {
  padding-top: 25px;
}
.order-info a {
  text-decoration: none;
}
.order-info a:hover {
  text-decoration: none;
  color: #ffffff;
}

.order-s-title {
  font-size: 14px;
  font-weight: 600;
}
.order-content p {
  font-size: 18px;
}
.order-btn {
  border: 1px #99cb77 solid;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 2px 50px;
  color: #99cb77;
  text-decoration: none;
}
.order-btn:hover {
  background-color: #559534;
  color: #ffffff;
  text-decoration: none;
}
/* ---------------------------order detail--------------------------- */
td button {
  color: #99cb77;
  background-color: #ffffff;
  padding: 5px 10px;
  border-radius: 5px;
}
td button:hover {
  background-color: #559534;
  color: #ffffff;
  text-decoration: none;
}
img {
  object-fit: contain;
}
/* ---------------------------account setting--------------------------- */
.img-select {
  color: #99cb77;
}
.img-select:hover {
  color: #559534;
  text-decoration: none;
}
.update-img-btn {
  border: 1px #99cb77 solid;
  border-radius: 5px;
  padding: 10px 50px;
  background-color: #ffffff;
  color: #99cb77;
  text-decoration: none;
}
.update-img-btn:hover {
  background-color: #559534;
  color: #ffffff;
  text-decoration: none;
}
.errorinfo {
  color: #ff0000 !important;
}

/* ------------------------------------------------------ */
.aaa {
  align-items: center;
}
/* ---------------------------level--------------------------- */
.level-svg-div-t {
  width: 80px;
  margin: 0 auto;
  padding-top: 20px;
}
.level-svg-t {
  width: 80px;
  height: 80px;
}
.level-word {
  text-align: center;
}
.level-svg-div {
  width: 40px;
  margin: 0 auto;
}
.level-svg {
  width: 40px;
  height: 40px;
}
.level-border {
  border: 1px #99cb77 solid;
  border-radius: 5px;
}

/* ---------------------------coupon--------------------------- */
.coupon-svg-div {
  width: 180px;
  margin: 0 auto;
}
.coupon-svg {
  width: 180px;
  height: auto;
}
